$white: #fff;
$ftclr: #787878;
$primary-font: 'Roboto Condensed', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$headline: #e7ecf1;
$sidebar: #2f323c;

$social-color-pallete: (
    facebook: #3b5998,
    tumblr: #32506d,
    linkedin: #007bb6,
    twitter: #00aced,
    google-plus: #dd4b39,
    reddit: #8bbbe3,
    youtube: #df1c31,
    pinterest: #b81621,
    github: #444,
    envelope: #333,
    soundcloud: #f50
);



$social-default-icon-color: #fff;
$social-default-btn-color: #666;
$social-icon-size: 50px;
$social-icon-border: 2px;
$social-icon-border-radius: 5px;

$brand-color: #006FC2;
