

*{
	margin: 0;
	padding: 0;
    outline: none;
} //Reset CSS Simple
html,body{
	
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    //background-color: #eceef2;
    min-width: 400px;
    font-family: $secondary-font;
    

}	

body{
    background-color: #eceef2;
	@media screen and (min-width: 768px){
		padding-top: 105px;
	
	}
	
}
.fa {
    //font-size: 50px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    //    color: darkblue;
}
ul, ol, li{
	list-style-type: none
}
li{
    //display:inline;
}

a{
	outline: none;
    color: $ftclr;
    font-size: 16px;
//    padding-right: 10px
}

a:hover{
    outline: none;
    //color: $white;
    text-decoration: none;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.page-link{
    border: 0px;
}    


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /*background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);*/
    width: 50px;
    height: 50px;
    display: block;

    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #787878;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 45px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    // background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: $brand-color;
    top: 5px;
}



.control {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    
    cursor: pointer;
    font-size: 16px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 4px;
    left: 0px;
    height: 16px;
    width: 16px;
    background: $white;
    border: 1px solid #ccc !important;
}



//.control--radio .control__indicator {
//    border-radius: 50%;
//}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: $ftclr;
}
.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: $ftclr;
}



::-webkit-scrollbar {
    width:5px;
    height:auto;
    
    opacity: 0.7;
}

::-webkit-scrollbar-thumb {
    background:#c3c3c3;
    
}
::-webkit-scrollbar-track {
    
    background:$white;
}

::-moz-scrollbar {
    width:5px;
    height:auto;
    
}

::-moz-scrollbar-thumb {
    background:#787878;
    
}
::-moz-scrollbar-track {

    background:$white;
}
